* {
	padding: 0;
	margin: 0;
}
#root {
	position: relative;
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	background-repeat: no-repeat;
	background-size:cover; 	
	background-attachment:fixed;
}
/* 登录框标题 */
.login-title {
	text-align: center;
}

/* 登录按钮 */
.login-button {
	margin: auto;
}
/* 登录框的大盒子 */
#login {
	font-size: 24px;
	position: absolute;
	width: 20rem;
	height: 10rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.userNameBox {
	position: relative;
}
#passwordBox {
	position: relative;
}
#userName {
	position: absolute;
	top: 8px;
	right: 5px;
}
#password {
	position: absolute;
	top: 8px;
	right: 5px;
}
/* 左侧联系人列表部分 */
#chatroom {
	visibility: hidden;
	width: 600px;
	height: 600px;
	border: 1px solid #ccc;
	margin: 0 auto;
	display: flex;
	background-color: #ececec;
}
.contact {
	width: 140px;
	height: 100%;
	background-color: #333;
	color: #fff;
	flex-shrink: 0;/*设置收缩比率，让较长的字不会*/
}
.contact-name {
	font-size: 24px;
	padding: 10px;
}
.contact-list {
	list-style: none;
	padding-left:0;
}
.contact-item{
	border-bottom: 1px solid #666;
	padding: 16px;
}
/* 联系人细则部分 */
.main {
	flex-grow: 1;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
}
.header{
	text-align: center;
	vertical-align: center;
	border-bottom: 1px solid #ccc;
	/* 把头部标题撑开 */
	padding: 10px;
}

/* 聊天者的细则 */
.list{
	flex-grow: 1;
	padding: 10px 0;
	overflow: auto;/* 如果有溢出 则可以滚动下滑 */
}
.list-item{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	word-break: break-all;/* 解决英文单词换行问题~涨知识！ */
}
.list-item .message{
	background-color: skyblue;
	padding: 10px;
	border-radius: 4px;
	font-size: 14px;
}
.list-item .avatar{
	width: 30px;
	height: 30px;
	margin-left: 5px;
}
/* 左侧联系人的对话框属性设置 */
.list-item-left{
	justify-content: flex-start;	
}
.list-item-left .avatar{
	margin-right: 5px;
	margin-left: 0px;
}
.list-item-left .message{
	background-color: #fff;
}
/* 底部输入框 */
.footer{
	display: flex;
	border-top: 1px solid #ccc;
	padding: 10px 0;
}
.footer textarea{
	/* 	flex-grow:让自己填满最大空间/设置和其他元素成倍数的空间占比
	这里的作用：把输入框撑开  */
	flex-grow: 1;
	border: 1px solid #ccc;
}
.footer button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 20px;
	margin-left: 20px;
	border-radius: 4px;
}